[submodule "vendor/maplibre-native"]
	path = vendor/maplibre-native
	url = https://github.com/maplibre/maplibre-native.git
[submodule "vendor/S-101_Portrayal-Catalogue"]
	path = engine/vendor/S-101_Portrayal-Catalogue
	url = https://github.com/iho-ohi/S-101_Portrayal-Catalogue.git
[submodule "vendor/S-101-Documentation-and-FC"]
	path = engine/vendor/S-101-Documentation-and-FC
	url = https://github.com/iho-ohi/S-101-Documentation-and-FC.git
[submodule "vendor/maplibre-native-qt"]
	path = vendor/maplibre-native-qt
	url = https://github.com/maplibre/maplibre-native-qt.git
